table{
	margin-top: 50px;
	text-align: center;
	border: 10px;
	border-color: solid black;
	border-collapse: collapse;
	color: white;
}

#list td{
	padding: 30px;
	color:black;
	border: 1px;
	border-style: solid;
	border-color:black;
	background-color:white;
}

#btn_a td input{
	margin-top: 6%;
	padding: 20px;
	border: black;
	border-style: solid;
	border-radius: 20px;
	cursor: pointer;
	outline: none;
	background: #cedb14;
	color: rgb(48, 174, 50);
	text-transform: capitalize;

}
#btn_a td input:hover{
	background: green;
  }


#list th{
	padding: 13px;
	border: 2px;
	border-style: solid;
	border-color: black;
	background: #ffffff;
	color: black;
}

body{
	background: #c2410ac8;
	color: white;
}
